.devlopers
    .developer
        .developer-image
            img(src="", alt="")
        h3.developer-name MikiTran
        .developer-meta
            span.developer-job Frontend Developer
            span.developer-rate
