doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.css")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@200;400;600&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="./scss/index.css")
        title Vidu voi Pug
    body 
    .item.item--primary.item--secondary#id 
    h2.heading 
    h3.title 
    p.desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis dolor ipsum culpa esse consequuntur hic natus at laudantium doloremque, et sunt sed laboriosam! Nemo repellendus voluptate itaque totam, omnis possimus!
    input.input(type="text" placeholder="enter your name")
    a(href="#") Click me
        span children 
    .tem
        #id new


