mixin developerItem(image, name, job)
    .developer
        .developer-image
            img(src= image, alt="mikitran")
        h3.developer-name MikiTran
        .developer-meta
            span.developer-job Nodejs Developer
            span.developer-rate