mixin developerItem(image, name, job)
    .developer-item
        .developer-image
            img(src= image, alt="mikitran")
        h3.developer-name= name
        .developer-meta
            span.developer-job= job
            span.developer-rate
        p.developer-description Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet officiis consequatur mollitia eaque suscipit blanditiis delectus, reiciendis enim consequuntur maiores rerum eligendi voluptatem, ipsam ducimus! Ex ducimus nesciunt omnis vero.