.developer{
    &-list{
        display: grid;
        grid-template-columns: repeat(3,minmax(0,1fr));
        grid-gap: 40px;
        max-width: 1210px;
        margin-inline: auto;
        // margin-left: auto; margin-right: auto;
        padding-inline: 20px;
        // padding-block: top-bottom;
    }
}