.developer{
    &-list{
        display: grid;
        grid-template-columns: repeat(3,minmax(0,1fr));
        grid-gap: 40px;
        max-width: 1210px;
        margin-inline: auto;
        // margin-left: auto; margin-right: auto;
        // padding-inline: 20px;
        padding:20px;
        // padding-inline: right - left;
        // padding-block: top-bottom;
    }
    &-item{
        background-color: white;
        border:2px solid #DEE0EB;
        border-radius: 16px;
        padding: 40px 40px 20px;
    }
    &-image{
        aspect-ratio: 1;
    }
}